.container {
  background-color: black;
  /* height: 100vh; */
  padding-top: 10px;
  color: white;
}
.flex {
  margin-left: 15%;
  display: flex;
  justify-content: center;
}
.imageContainer {
  width: 35%;
  margin: 20px;
}
.textContainer {
  width: 35%;
  font-family: 'aaaiight';
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.textBox {
  margin: 20px auto;
  width: 90%;
}
.mailLink {
  color: #f9ff99;
}
.mailLink:hover {
  cursor: pointer;
  text-decoration: line-through;
}
@media screen and (max-width: 1200px){
  .container {
    height: 100vh;
  }
}
@media screen and (max-width: 900px) {
  .textContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    width: 60%;
  }
  .flex {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .container {
    height: 100%;
  }
  .imageContainer {
    width: 50%;
  }
}
@media screen and (max-width: 500px){
  .textContainer{
    width: 75%;
    font-size: 12px;
  }
}