.container {
  height: 100vh;
  width: 100%;
  background-color: rgb(147,248,206);
  display: flex;
  justify-content: center;
}
.image {
  width: 30%;
}
.imageLink {
  width: 30%;
}
.imageLink:hover{
  cursor: pointer;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}