.container {
  height: 100vh;
  width: 100%;
  background-color: rgb(147,248,206);
  display: flex;
  justify-content: center;
}
.image {
  width: 30%;
}
.imageLink {
  width: 30%;
}
.hover {
  cursor: url('https://res.cloudinary.com/glasswavs/image/upload/c_scale,w_50/v1628294470/General%20Qu/enter/PngItem_1818548_obdwx6.png'), auto;
}
.imageContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .imageContainer {
    flex-direction: column;
    width: 100%;
  }
  .image{
    width: 30%;
  }
  .imageLink{
    width: 30%;
  }
}
@media screen and (max-width: 650px) {
  .image{
    width: 35%;
  }
  .imageLink{
    width: 35%;
  }
}
@media screen and (max-width: 550px) {
  .image{
    width: 40%;
  }
  .imageLink{
    width: 40%;
  }
}