.container {
  background-color: rgb(0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.imageAndText {
  position: relative;
}
.text {
  font-family: 'aaaiight';
  font-size: 2em;
  position: absolute;
  color: white;
  top: 0%;
  left: 50%;
  transform: translateX(-50%)
}
.text:hover {
  color: black;
}
.image {
  height: 100%;
  width: auto;
}
.imageLink {
  width: 30%;
}
/* .hover {
  cursor: url('https://res.cloudinary.com/glasswavs/image/upload/c_scale,w_50/v1628294470/General%20Qu/enter/PngItem_1818548_obdwx6.png'), auto;
} */
.imageContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .imageContainer {
    flex-direction: column;
    width: 100%;
  }
  .image{
    width: 30%;
  }
  .imageLink{
    width: 30%;
  }
}
@media screen and (max-width: 720px) {
  .image{
    width: 33%;
  }
  .imageLink{
    width: 33%;
  }
}
@media screen and (max-width: 650px) {
  .image{
    width: 35%;
  }
  .imageLink{
    width: 35%;
  }
}
@media screen and (max-width: 590px) {
  .image{
    width: 40%;
  }
  .imageLink{
    width: 40%;
  }
}
@media screen and (max-width: 540px) {
  .image{
    width: 43%;
  }
  .imageLink{
    width: 43%;
  }
}