
@font-face {
  font-family: "WishfulWaves";
  src: url('../public/fonts/wishfulwaves/wishfulwaves.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "aaaiight";
  src: url('../public/fonts/aaaiight/aaaiight.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


html,
body {
  cursor: url('https://res.cloudinary.com/glasswavs/image/upload/c_scale,w_50/v1628295516/General%20Qu/enter/cursor-png-1104_jnqhz9.png'), auto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  cursor: url('https://res.cloudinary.com/glasswavs/image/upload/c_scale,w_50/v1628294470/General%20Qu/enter/PngItem_1818548_obdwx6.png'), auto;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
