.container {
  background-color: black;
  margin-top: 0;
  /* width: 100%; */
  /* height: 100vh; */
  padding-top: 10px;

}
.logo {
  color: white;
  text-align: center;
  font-family: 'aaaiight';
}
.photoSection1 {
  display: flex;
  justify-content: center;
}
.photoSection2 {
  display: flex;
  justify-content: center;
}
.photoSection3 {
  width: 100%;
  /* display: grid;
  grid-template-columns: 25% 50% 25%; */
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.photoSection4 {
  display: flex;
  justify-content: space-evenly;
}
.photoSection5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photoSection7 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.photoSection8 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.photoSection10 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.imageMargin {
  margin: 15px;
  /* text-align: center; */
}
