/* .title {
  background-color: black;
} */
.text {
  color: white;
  font-family: 'WishfulWaves';
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 10px 7px;
}
.marquee {
  display: flex;
  justify-content: space-evenly;
}







