.main {
  background-image: url('https://res.cloudinary.com/glasswavs/image/upload/c_scale,q_auto,w_2000/v1627951760/General%20Qu/backgrounds/cloudBackground_ibziva.jpg');
  padding-top: 10px;
  /* position: relative; */
}
.clientList {
  /* margin: 5px auto 5px 50%; */
  /* transform: translateX(-12.5%); */

}
.clients {
  font-family: 'aaaiight';
  font-size: 2em;
  color: #f9ff99;
  margin: 4px auto;
  text-align: center;
}
.clients:hover {
  text-decoration: line-through;
}
